{% extends "_base.html" %}
{% block content %}
  
   
   <div id="forest" class="fst"><div style="height: 45px;"></div>
    <h1 class="fsth">Where to Spend Woodcoins</h1>
    <h2 class="fsth"><a href="{{ url_for('main.faq') }}">FAQ</a> &#8486; <a href="{{ url_for('main.specs') }}">Specifications</a> &#8486; <a href="{{ url_for('main.woodcoin') }}">Whitepaper</a> &#8486; <a href="http://logaddress.org/index.html">Paper Notes</a></h2>
    <p>The following merchants welcome your LOGs in exchange for goods and services.</p>
    <br/><br/>
    <ul>
    <li><a href="http://erepublic.party/hosting.html">eRepublic Web Hosting Services</a></li>
    </ul>
   <p><b>If you are a merchant who would like help accepting Woodcoin,</b> please do not hesitate to contact the Woodcoin mailing list, &#119;&#111;&#111;&#100;&#099;&#111;&#105;&#110;&#064;&#102;&#114;&#101;&#046;&#101;&#114;&#101;&#112;&#117;&#098;&#108;&#105;&#099;&#046;&#112;&#097;&#114;&#116;&#121;. Contact &#112;&#104;&#109;&#064;&#119;&#111;&#111;&#100;&#099;&#111;&#105;&#110;&#046;&#111;&#114;&#103; if you are a merchant already accepting LOGs and would like to be added to this list. </p>
   
    <footer>
  Many icons designed by <a href="http://freepik.com" target="_blank">Freepik</a>. 
 </footer> 
   
   </div>
  {% endblock %}
 